<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.isoftstone.bipowercenter.dao.ActivityMapper">

	<resultMap id="ActivityResultMap" type="com.isoftstone.bipowercenter.vo.MarketTask">
		<id property="id" column="ID" jdbcType="VARCHAR"/>
		<result property="name" column="NAME" jdbcType="VARCHAR"/>
		<result property="note" column="NOTE"  jdbcType="VARCHAR"/>
		<result property="mktContent" column="MKT_CONTENT" jdbcType="VARCHAR"/>
		<result property="startTime" column="START_TIME" jdbcType="DATE"/>
		<result property="endTime" column="END_TIME" jdbcType="DATE"/>
		<result property="execTime" column="EXEC_TIME" jdbcType="DATE"/>
		<result property="totalCount" column="TOTAL_COUNT" jdbcType="INTEGER"/>
    </resultMap>

	<select id="queryActivity" parameterType="map" resultMap="ActivityResultMap">
		select * from t_market_task
			<where>
				<if test="name!=null and name[0]!=''">
					and name like '%'||#{name[0]}||'%'
				</if>
			</where>
			order by id desc limit #{startNum},#{endNum}
	</select>
	
	<select id="selectTotalActivity" parameterType="map" resultType="int">
		select count(*) from(
				select * from t_market_task 
					<where>
						<if test="name!=null and name[0]!=''">
							and name like '%'||#{name[0]}||'%'
						</if>
					</where>
		)
	</select>
	
</mapper>